@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* padding: 10px;
  font-family: sans-serif; */
  font-family: 'Pretendard', sans-serif;
}

.nav {
  font-family: 'Pretendard', sans-serif;
}
.main-img {
  height: auto;
  max-width: 800px;
  margin: 10px auto;
}

.user_img {
  width: 20%;
  height: auto;
  max-width: 300px;
}

.dongle-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
}