@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 10px;
  font-family: sans-serif;
}

.main-img {
  width: 70%;
  /* 부모 요소의 너비에 맞춰 100% 크기 */
  height: auto;
  /* 비율에 맞춰 자동으로 세로 크기 조정 */
  max-width: 500px;
  /* 최대 가로 크기 제한 */
  margin: 0 auto;
  /* 이미지가 중앙에 위치하도록 정렬 */
}

.user_img {
  width: 20%;
  height: auto;
  max-width: 300px;
}