@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* padding: 10px;
  font-family: sans-serif; */
}

.main-img {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 10px auto;
}