@tailwind base;
@tailwind components;
@tailwind utilities;

body {
<<<<<<< HEAD
  /* padding: 10px;
   font-family: sans-serif; */
}

.fullscreen-img {
  width: 100vw;
  height: 60vh;
  object-fit: contain;
  border: 1px solid black;

}

.login-box {

  gap: 5px;

}

ul {
  list-style-type: none;
  /* 기본 리스트 점 제거 */
  display: flex;
  /* 가로로 정렬 */
  padding: 10px;
  /* 기본 여백 제거 */
  margin: 0;
  /* 기본 여백 제거 */
  justify-content: flex-end;
}

.navigation {
  border: 1px solid black;
=======
  padding: 10px;
  font-family: sans-serif;
}

.main-image {
  width: 100%;
  /* 부모 요소의 너비에 맞춰 100% 크기 */
  height: 100px;
  /* 비율에 맞춰 자동으로 세로 크기 조정 */
  max-width: 800px;
  /* 최대 가로 크기 제한 */
  margin: 0 auto;
  /* 이미지가 중앙에 위치하도록 정렬 */
>>>>>>> c59e217c9810d6c76e30424706822aafa38f288d
}